* {
	border: 0;
	margin: 0;
	padding: 0;
}

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

header, footer {
	text-align: center;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 2%;
	margin: 1%;
}

nav ul li:hover {
	border-bottom: 2px solid #000000;
}